<h1>Testing App!</h1>
<ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/multi-state">Multi State Component</a></li>
    <li><a routerLink="/profiles">Routing Component</a></li>
</ul>
<router-outlet></router-outlet>

