<h3>Set the state!</h3>
<div id="state-buttons">
  <button id="not-started-btn" (click)="setState('NotStarted')">Not Started</button>
  <button id="started-btn" (click)="setState('Started')">Started</button>
  <button id="finished-btn" (click)="setState('Finished')">Finished</button>
</div>
<div id="state-display">
  <p *ngIf="state == 'NotStarted'">Not Started</p>
  <p *ngIf="state == 'Started'">Started</p>
  <p *ngIf="state == 'Finished'">Finished</p>
</div>