<h3 id="username">{{ profile.name }}</h3>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Sports</td>
      <td>Food</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ profile.name }}</td>
      <td>{{ profile.sports.join(',') }}</td>
      <td>{{ profile.foods.join(',') }}</td>
    </tr>
  </tbody>
</table>
